<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/My-Repos/RestAPIFramework/src/test/java/com/restful/restfulbooker/test/TestBooking.java"><classes><class name="com.restful.restfulbooker.test.TestBooking"><methods><include name="TestBooking"/><include name="TestBookingPoJO"/><include name="TestBookingPoJO1"/></methods></class></classes></test></suite>